<section>
    <div class="container mt-5">
        <div class="row mt-5">
           
                         <a href="/admin/add-product" style="background-color:rgb(7, 37, 7) ;"  class="btn text-white ms-3 mb-4 w-25">Add product</a>
                          </form>
        </div>
        <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">No</th>
       <th scope="col">Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category</th>
      <th scope="col">Stock</th>
      <th scope="col">Price</th>
      <th scope="col">Discount</th>
       <th scope="col">Manage</th>
     
    </tr>
  </thead>
  <tbody>
    {{#each productDetails}}
    <tr>
     <th scope="row">{{inc @ index}}</th>
      <td><img style="width: 50px;" src="/productImageUploads/{{this.imagepath.[0]}}" alt=""></td>
      <td>{{this.productname}}</td>
      <td>{{this.category.category}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.price}}</td>
      <td>{{this.discount}}</td>
      <td>
          <a href="/admin/edit-products/{{this._id}}"> <button  type="button" class="btn m-2 text-white" style="background-color:rgb(6, 29, 6) ;">Edit</button></a>
                                      
           <a href="/admin/delete-products/{{this._id}}"><button onclick="return confirm('Are you sure about Delete this Product?')"
             type="button" class="btn m-2 text-white" style="background-color:rgb(169, 19, 19) ">Delete</button></a>
      </td>
     
    </tr>
  {{/each}}
  </tbody>
</table>
    </div>
</section>