<section style="background-color: #eee;">


  <div class="row" style="margin:0% ;">
    <div class="col-lg-4 mt-5">
      <div class="card mb-4 pb-4">
        <div class="card-body text-center">
          <img src='/admin/img/avathar2.jpg' alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-2">{{userDetails.fname}} {{userDetails.lname}}</h5>

        </div>
        <div class="text-center" style="background-color:rgb(6, 29, 6) ;">

          {{!-- add address button --}}
          <div class="pb-2 mt-2">
            <a href="/addAddress">
              <button type="button" class="btn btn-dark">Add Address</button>
            </a>
          </div>

          {{!-- edit Username --}}
          <div class="align-center mb-2">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Name"
              data-bs-whatever="@name">Edit Username</button>
          </div>
          {{!-- password button --}}
          <div>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#password"
              data-bs-whatever="@pass">Change Password</button>
          </div>
          {{!-- my orders button --}}
          <div class="pt-2 mb-2">
            <a href="/myOrders">
              <button type="button" class="btn btn-dark">My Orders</button>
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-8 mt-5">
      <div class="card mb-4">
        {{!-- //each --}}

        <div class="card-body">


          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userDetails.fname}}</p>
            </div>

          </div>

          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userDetails.email}}</p>
            </div>
          </div>
          <hr>


          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userDetails.phonenumber}}</p>
            </div>
          </div>

        </div>

      </div>
      {{!-- here right side ullil --}}
      <h4 class="text-dark"> Manage Addresses</h4>
      <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
        {{#each addressData}}
        <div class="accordion-item mb-2">

          <h4 class="accordion-header" id="{{this._id}}">

            <button class="accordion-button collapsed bg-white" style="border: solid black ;" type="button"
              data-bs-toggle="collapse" data-bs-target="#flush-collapse{{this._id}}" aria-expanded="false"
              aria-controls="flush-collapseOne">
              {{inc @index}}.<span>{{this.firstName}} {{this.lastName}}</span> ph:<span>{{this.phoneNumber}}</span>
            </button>
          </h4>

          <div id="flush-collapse{{this._id}}" class="accordion-collapse collapse" aria-labelledby="{{this._id}}"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              {{!-- addressdisplay form --}}
              <form method="post" action="/editAddress/{{this._id}}">
                <div class="form-row ml-3">
                  <div class="form-group">
                    <label for="inputAddress2">First Name</label>
                    <input type="text" name="firstName" class="form-control" id="inputAddress2"
                      value="{{this.firstName}}">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Last Name</label>
                    <input type="text" name="lastName" class="form-control" id="inputAddress2"
                      value="{{this.lastName}}">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" name="email" class="form-control" id="inputEmail4" value="{{this.email}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Phone number</label>
                  <input type="number" name="phoneNumber" class="form-control" id="inputEmail4"
                    value="{{this.phoneNumber}}">
                </div>
                <div class="form-group ml-3">
                  <label for="inputAddress2">Address</label>
                  <input type="text" name="address" class="form-control" id="inputAddress2" value="{{this.address}}">
                </div>
                <div class="form-row ml-2">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" name="city" class="form-control" id="inputCity" value="{{this.city}}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>

                    <input type="text" name="state" class="form-control" id="inputState" value="{{this.state}}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Pin</label>
                    <input type="text" name="pincode" class="form-control" id="inputZip" value="{{this.pincode}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputCity">Landmark</label>
                    <input type="text" name="landmark" class="form-control" id="inputCity" value="{{this.landmark}}">
                  </div>
                </div>


                <button type="submit" class="btn text-white ml-3" style="background-color:rgb(6, 29, 6) ;">Submit
                  Edit</button>
                <button type="button" onclick="deleteAddress('{{this._id}}')" style="background-color:rgb(169, 19, 19) "
                  class="btn btn-danger">Delete Address </button>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  </div>

  <div class="modal mt-5 fade" id="Name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input id="name" type="text" class="form-control" id="recipient-name">
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" onclick="changeUsername({{this.id}})" class="btn text-white"
            style="background-color:rgb(6, 29, 6) ;">Update</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  {{!-- changePassword --}}
  <div class="modal mt-5 fade" id="password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="changePassword">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Old Password:</label>
              <input id="oldpass" type="password" class="form-control">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">New Password:</label>
                <input name="newpass" id="newpass" type="password" class="form-control">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Confirm Password:</label>
                <input name="confirmpass" id="confirmpass" type="password" class="form-control">
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" onclick="changePassword({{this.id}})" class="btn text-white"
                style="background-color:rgb(6, 29, 6) ;">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>




</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="/js/form-validation.js"></script>
<style>
  .error {
    color: red;
  }
</style>


</body>